*{
    margin:0;
    padding:0;
    list-style:none;
}
html{
    overflow:hidden;
}
@font-face {
    font-family: lishu;
    src: url(./ls.TTF);
}
@font-face {
    font-family: xingkai;
    src: url(./xk.TTF);
}

.font{
    position:absolute;
    display:none;
    opacity:0;
    font-family:lishu;
}
.font1{
    position:absolute;
    display:none;
    opacity:0;
    font-family:xingkai;
}

body{
    background-image:url(./img/timg.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    z-index:-2;
}
.page1>.name{
    width:120px;
    height:300px;
    background-image:url(./img/name.png);
    background-repeat:no-repeat;
    background-size:114px;
    position:absolute;
    top:80px;
    left:60px;
}
.page1>.logo{
    width:125px;
    height:125px;
    background-image:url(./img/logo.png);
    background-repeat:no-repeat;
    background-size:125px;
    position:absolute;
    top:560px;
    left:58px;
}
.left{
    box-sizing:border-box;
    width:400px;
    height:695px;
    background-image:url(./img/jt.png);
    background-size:40px;
    background-repeat:no-repeat;
    background-position:40px -20px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.border{
    margin-top:40px;
    margin-left:170px;
    width:380px;
    height:695px;
    overflow:hidden;
}
.left li {
    position:relative;
    width:300px;
}

.left .top .point,
.left .top .point::after{
    background-color:rgb(160,160,160) !important;
    transition: all 0.5s;
}
.left .top .tittle{
    background-color:#eee;
    position:relative;
    margin:30px 0;
    padding:20px;
    border-radius:5px;
    border:1px solid #a5a5a5;
    box-shadow: 3px 3px 5px rgba(35, 35, 35, 0.35);
}
.left .top .tittle::after{
    background-color:#eee;
    content:"";
    display:inline-block;
    width:20px;
    height:20px;
    border-left:1px solid #a5a5a5;
    border-bottom:1px solid #a5a5a5;
    position:absolute;
    transform:rotate(45deg);
    left:-11px;
    top:40px;
}
.left .top .tittle .white{ 
    color:#fff !important;
}

.left .top .tittle div{
    text-align:center;
    padding:5px 0;
}
.left .top .tittle .big{
    color:#656565;
    font-family:xingkai;
    font-size:20px;
}
.left .top .tittle .small{
    color:#757575;
    font-family:ks;
    font-size:16px;
}
.left .top .tittle .season{
    position:absolute;
    top:75px;
    left:10px;
    font-family:lishu;
    color:#858585;
}

.left .top{
    position:relative;
    width:203px;
    margin-left:100px;
    transition:all 0.5s;
}
.left .top .pic{
    width:57px;
    height:57px;
    background-color:#eee;
    background-repeat:no-repeat;
    background-position:1px 1px;
    border-radius:50%;
    position:absolute;
    left:170px;
    top:22px;
    background-size:55px;
    transition:all 1s;
}
.left .top .show{

    display:inline-block;
    width:57px;
    height:57px;
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    left:170px;
    top:22px;
    box-shadow: 3px 3px 5px rgba(35, 35, 35, 0.35);
    z-index:-1;
}
.left .bottom{
    position:absolute;
    left:46px;
    top:39px;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:#FFAE12;
    z-index:7;
    box-sizing:border-box;
    border:6px solid #fff;
    transition:all 0.4s;
}
.active{
    transform:rotate(360deg);
}

.close{
    display:none;
}
.right{
    border:1px solid rgba(0,0,0,0);
    position:absolute;
    left:600px;
    top:100px;
    width:800px;
    height:570px;
    border-radius:10px;
    background:radial-gradient( rgba(0,0,0,0.55) 35%, rgba(0,0,0,0.45) 75%, rgba(0,0,0,0.2) 110%);
    box-shadow:10px 10px 15px rgba(0,0,0,0.3);
    transform:scale(0);
    transition:all  1.2s;
    
}
.right>div{
    display:inline-block;
    vertical-align:top;
}
.wrap{
    margin: 30px 20px;
    width: 545px;
    height: 500px;
    overflow:hidden;
}
.right .main{
    width:565px;
    height:500px;
    overflow-Y:scroll;
    overflow-x:hidden;
}
.right .line{
    width:2px;
    height:500px;
    background-color:#fff;
    margin-top:30px;
}
.right .less{
    margin:15px;
}
.right .less img{
    margin-top:70px;
    width:150px;
    height:150px;
}
.right .less .name{
    margin:50px 0;
    color:#fff;
    font-size:50px;
    text-align:center;
}
.right .less .time{
    color:#fff;
    font-size:35px;
    text-align:center;
}
.right .main h4{
    font-size:20px;
    margin:10px 0;
}
.right .main>div{
    margin-bottom:40px;
    margin-left:20px;
    margin-right:20px;
    line-height:28px;
    font-size:18px;
    color:#fff;
}
.start{
    transform:scale(1);
}


@media  (max-device-width:568px){
    html{
        background-image:url(./img/back-h.jpg);
        background-repeat:no-repeat;
        background-size:100%;
    }
    body{
        background-image:none !important;
        width:100%;
        height:100%;
    }
    .left .top .tittle::after{
        left:127px;
        top:-11px;
        border-left: 1px solid #a5a5a5;
        border-top: 1px solid #a5a5a5;
        border-bottom:0;
    }
    .left .top .show,
    .left .top .pic{
        left:107px;
        top:97px;
    }
    .border{
        width: 90%;
        overflow:hidden;
        height:280px;
        margin-left:5%;
        margin-right:4%;
        margin-top:28%;
    }
    .left{
        width:100%;
        padding-top:25px;
        height:290px;
        background-image:url(./img/jt2.png); 
        background-size:880px;
        background-position-y:-6px;
        background-position-x:-10px;
        overflow-x:scroll;
        overflow-y:hidden;
    }
    .left ul{
        width:12000px;
    }
    .left li{
        float:left;
    }
    .left .top{
        margin-left:0;
        width:250px;
        height:150px;
    }
    .left .bottom{
        left:127px;
        top:-20px;
    }
    .page1>.name{
        background-image: url(./img/name2.png);
        background-size:400px;
        width:400px;
        height:100px;
        top:5%;
        left:15%;
    }
    .page1>.logo{
        top:5%;
        left:70%;
    }
    .right{
        left:10%;
        width:80%;
        height:55%;
        top:38%;
    }
    .right .main{
        width:102%;
        height:100%;
    }
    .wrap{
        height:90%;
        overflow:hidden;
        margin-left:25%;
        width:auto;
    }

    .right .line{
        height:90%;
        position:absolute;
        left:23%;
    }
    .right .less{
        position:absolute;
        top:20%;
    }
    .right .main>div{
        font-size:25px;
        line-height:45px;
    }
    .right .main h4{
        font-size:30px;
        line-height:35px;
    }
    .left .top .tittle .big{
        font-size:30px;
    }
    .left .top .tittle .small,
    .left .top .tittle .season{
        font-size:20px;
    }
}