
html{
    background-color:#eee;
}
.header{
    position:fixed;
    top:0;
    height:50px;
    width:100%;
    background-color:#323232;
    z-index:10;
}
.header .thing{
    width:1100px;
    margin:0 auto;
    z-index:10;
}
.header .thing>a{
    margin-right:15px;
    display:inline-block;
    height:50px;
    width:230px;
    box-sizing:border-box;
    background-image:url(./img/bg.30c200.png);
    background-position:-230px 12px;
}
.header ul{
    list-style:none;
    display:inline-block;
}
.header li{
    float:left;
    box-sizing:border-box;
    margin:0 10px;
    display:inline-block;
    height:50px;
}
.header ul a{
    display:inline-block;
    box-sizing:border-box;
    height:50px;
    padding:18px 5px;
    text-decoration:none;
    color:#fff;
    font-size:14px;
    transition:color 0.5s;

}
/*导航栏样式*/
.header .active{
    color:#00c3b6;
}
.header a:hover{
    color:#00c3b6;
}
/*导航栏*/
.main .pic{
    margin-top:50px;
    height:250px;
    background-image:url(./img/titou.jpg);
    background-repeat:no-repeat;
    background-size:100%;
    position:relative;
}
.main .pic .top{
    position:absolute;
    top:35%;
    left:25%;
    font-size:28px;
    color:#fff;
}
.main .pic .down{
    position:absolute;
    top:52%;
    left:15%;
    font-size:15px;
    color:#fff;
}
/*长图*/
.main .wrapper{
    width:1000px;
    margin:15px auto;
}
.main .left{
    box-sizing:border-box;
    height:570px;
    width:680px;
    display:inline-block;
    border:1px solid #ccc;
    box-shadow:3px 3px 5px #aaa;
    vertical-align:bottom;
    padding:40px 45px 45px 45px;
    background-color:#fff;
}
.main .right{
    box-sizing:border-box;
    height:570px;
    width:300px;
    display:inline-block;
    border:1px solid #ccc;
    box-shadow:3px 3px 5px #aaa;
    margin-left:15px;
    vertical-align:bottom;
    background-color:#fff;
}
.main .left .tittle{
    margin: 0 auto;
    width:225px;
    -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.main .left .button1,
.main .left .button2{
    font-size:18px;
    display:inline-block;
    box-sizing:border-box;
    height:33px;
    width:33px;
    border-radius:50%;
    border:1px solid #aaa;
    font-size:18px;
    padding-top:6px;
    color:#323232;
    cursor:pointer;
}
.main .left .button1{
    padding-left:8px;
}
.main .left .button2{
    padding-left:10px;
}
.main .left .month{
    font-size:20px;
    margin:0 18px;
    vertical-align:text-bottom;
}
.main .left .button1:hover,
.main .left .button2:hover{
    background-color:#ddd;
    border-color:rgb(69,143,216);
    color:rgb(69,143,216);
}
/*左栏抬头*/
.main .weeks{
    margin-top:5px;
    -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.main .weeks li{
    width:34px;
    float:left;
    margin:15px 25px;
    font-size:14px;
    color:#aaa;
}
.main .day-shot li,
.main .day li{
    border:0;
    position:relative;
    width:80px;
    height:75px;
    float:left;
    margin-top:5px;
    margin-right:2px;
    margin-left:2px;
    cursor:pointer;
    background-color:#eee;
    box-sizing:border-box;
    overflow:hidden;
    transition:all  0.5s;
}
.main .day-shot a,
.main .day li a{
    position:absolute;
    width:80px;
    height:75px;
    display:inline-block;
    background-color:rgba(58, 58, 58, 0.5);
    z-index:4;
    transition:all 0.8s;
    box-sizing:border-box;
}
.main .day-shot img,
.main .day li img{
    width:80px;
    height:75px;

}
.main .day-shot p,
.main .day li p{
    text-align:center;
    position:absolute;
    width:30px;
    top:36%;
    left:32%;
    font-size:24px;
    color:#fff;
    z-index:6;
    opacity:1;
    transition:all 0.8s;
        -webkit-user-select:none;
   -moz-user-select:none;
   -ms-user-select:none;
   user-select:none;
}
.main .day-shot div,
.main .day li div{
    top:0;
    overflow:hidden;
    width:62px;
    height:47px;
    box-sizing:border-box;
    margin:15px 8px 15px 9px;
    font-size:12px;
    color:#fff;
    position:absolute;
    z-index:7;
    text-overflow:clip;
    line-height:16px;
    opacity:0;
    transition:all 0.8s;
}

.main .right .wrap .type{
    color:#fff;
    font-size:22px;
    font-weight:300;
    text-align:center;
    padding-top:12px;
    height:50px;
    box-sizing:border-box;
    background-color:#2f84b8;
}
.main .right .wrap .day-letter{
    font-size:40px;
    padding-top:50px;
    text-align:center;
    color:#fff;
    height:150px;
    background-color:rgb(69,143,216);
    box-sizing:border-box;
}

.main .day-shot .active-a,
.main .day .active-a{
    background-color:rgba(28, 28, 28, 0.8);
}
.main .day-shot .active-p,
.main .day .active-p{
    opacity:0;
}
.main .day-shot .active-div,
.main .day .active-div{
    opacity:1;

}
.main .day-shot li,
.main .day-shot a,
.main .day-shot img{
    height:62px;
}
.main .left .day-shot div{
    height:47px;
    margin-top:10px;
}

.main .left .point{
    border:4px solid #2f84b8;
    background-color:transparent !important;
}
/*日历部分*/

.main .right .thing{
    padding:22px 35px 0 35px;
}
.main .right .letter{
    color:rgb(51,51,51);
    font-weight:700;
    font-size:16px;
    line-height:24px;
    width:230px;
    margin-bottom:12px;
}
.main .right img,
.main .right .thing>a{
    width:230px;
    height:135px;
    display:inline-block;
}
.main .right .wrap{
    position:relative;
}
#festival{
    position:absolute;
    bottom:15px;
    right:15px;
    font-size:12px;
    color:#ddd;
}
.main .right .describe{
    color:rgb(51,51,51);
    font-size:12px;
    line-height:21px;
    width:230px;
    margin-top:12px;
}
.main .right a{
    color:#338de6;
    text-decoration:none;
}
/*右侧重要信息*/

body>.botton{
    height:166px;
    width:100%;
    background-color:#333;
    padding:30px 250px;
    box-sizing:border-box;
    min-width:1200px;
}
.botton .left{
    float:left;
    width:400px;
}
.botton .left a{
    display:inline-block;
    margin-top:30px;
}
.botton .left .pic{
    background-image:url(./img/bg.30c200.png);
    width:230px;
    height:27px;
    background-repeat:no-repeat;
}
.botton .left .letter{
    margin-top:12px;
    color:#fff;
    font-size:12px;
}
.botton .right{
    float:right;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    color:#fff;
    padding:0 30px;
}
/*left*/

.botton .right h5{
    font-size:16px;
    padding:5px 0;
}
.botton .right div{
    font-size:12px;
    padding:8px 0;
}
.botton .right .wechar{
    position:relative;
    padding-bottom:0;
    height:23px;
}
.botton .right .small{
    position:absolute;
    left:60px;
    top:6px;
    background-image:url(./img/code.png);
    background-repeat:no-repeat;
    width:18px;
    height:18px;
    padding:0;
    cursor:pointer;
    z-index:5;
}
.botton .right .big{
    position:absolute;
    left:110px;
    top:-80px;
    background-image:url(./img/wxqr.jpg);
    background-repeat:no-repeat;
    background-size:100px;
    border-radius:5px;
    width:100px;
    height:100px;
    padding:0;
    z-index:5;
    opacity:0;
    transition:all 0.2s;
}
.botton .right .big-action{
    opacity:1 !important;
}
/*botton*/
.list{
    position:relative;
    width:1000px;
    margin:15px auto;
    box-shadow:3px 3px 5px #aaa;
    background-color:#fff;
    border:1px solid #ccc;
    padding:70px 120px;
    box-sizing:border-box;
}
.list .tittle{
    margin-bottom:20px;
}
.list .tittle .small-litter{
    font-size:22px;
    color:#666;
}

.list .tittle .big-litter{
    font-size:22px;
    font-weight:700;
    color:#333;
}
.list .event{
    position:relative;
}
.list .event a{
    color:#338de6;
    text-decoration:none;
}

.list .event .left{
    position:absolute;
    top:35px;
    right:675px;
    font-size:20px;
}
.list .event .iconfont{
    position:absolute;
    top:28px;
    right:625px;
    font-size:20px;
    line-height:28px;
    width:28px;
    height:28px;
    background-color:#e5e5e5;
    color:#c8c8c8;
    border-radius:2px;
    z-index:7;
    text-align:center;
}

.list .event .right{
    position:relative;
    margin-left:120px;
    border-left:1px solid #e1e3e6;
}
.list .event .right .top{
    height:40px;
}

.list .event .right .tittle{
    color:#333;
    font-size:17px;
    position:absolute;
    padding-left:10px;
    left:60px;
    top:35px;
    width:600px;
    background-color:#fff;
}
.list .event .right .botton{
    color:#999;
    font-size:15px;
    border-top:1px solid #e1e3e6;
    width:auto;
    background-color:#fff;
    padding:25px 0 15px 40px;
    line-height:22px;
}
#uptop{
    width:55px;
    height:55px;
    font-size:37px;
    line-height:55px;
    background-color:#d5d5d5;
    color:#a5a5a5;
    position:fixed;
    bottom:40px;
    left:50%;
    margin-left:560px;
    border-radius:50%;
    padding-left:8px;
    padding-top:2px;
    box-sizing:border-box;
    cursor:pointer;
}
